{{#if hasBlock}}
  {{yield (hash
            dismissButtonText=dismissButtonText
            confirmButtonText=confirmButtonText
            onDismiss=onDismiss
            onConfirm=onConfirm
          )}}
{{else}}

  {{#if (and toggleText onDialogToggle)}}
    <div class="notification-confirm-modal__footer__secondary">
      {{input
        id="confirmation-toggle-input"
        type="checkbox"
        title=toggleText
        class="toggle-switch toggle-switch--light"
        change=(action onDialogToggle value="target.checked")
      }}
      <label for="confirmation-toggle-input" class="toggle-button">
      </label>

      <span class="confirmation-dialog-toggle-label">{{toggleText}}</span>
    </div>
  {{/if}}

  {{#if (not-eq dismissButtonText false)}}
    <button class="nacho-button--large nacho-button--secondary" {{action onDismiss}}>
      {{dismissButtonText}}
    </button>
  {{/if}}

  {{#if (not-eq confirmButtonText false)}}
    <button class="nacho-button nacho-button--large-inverse" {{action onConfirm}}>
      {{confirmButtonText}}
    </button>
  {{/if}}

{{/if}}