{{#if hasBlock}}
  {{yield
    (hash
      dismissButtonText=@dismissButtonText
      confirmButtonText=@confirmButtonText
      onDismiss=this.onDismiss
      onConfirm=this.onConfirm
    )
  }}
{{else}}

  {{#if (and @toggleText this.onDialogToggle)}}
    <div
      class="notification-confirm-modal__footer__secondary"
    >
      {{input
        id="notifications-confirmation-toggle-input"
        type="checkbox"
        title=@toggleText
        class="toggle-switch toggle-switch--light"
        change=(action this.onDialogToggle value="target.checked")
      }}
      <label
        for="notifications-confirmation-toggle-input"
        class="toggle-button"
      >
      </label>

      <span
        class="confirmation-dialog-toggle-label"
      >
        {{@toggleText}}
      </span>
    </div>
  {{/if}}

  {{#if (not-eq @dismissButtonText false)}}
    <button
      type="button"
      class="nacho-button--large nacho-button--secondary notification-confirm-modal__footer__dismiss"
      {{action this.onDismiss}}
    >
      {{@dismissButtonText}}
    </button>
  {{/if}}

  {{#if (not-eq @confirmButtonText false)}}
    <button class="nacho-button nacho-button--large-inverse notification-confirm-modal__footer__confirm" {{action this.onConfirm}} type="button">
      {{@confirmButtonText}}
    </button>
  {{/if}}

{{/if}}
