<ModalDialog
  @overlayClass="notification-overlay"
  @containerClassNames="view-all__modal notification-confirm-modal"
  @onClose={{action this.onCloseViewAll}}
>
  <header class="notification-confirm-modal__header view-all__header">
    <h3 class="view-all__title">
      {{@title}}
    </h3>
    <button
      type="button"
      class="view-all__close"
      onclick={{action this.onCloseViewAll}}
    >
      <FaIcon
        @icon="times"
      />
    </button>
  </header>
  <section class="notification-confirm-modal__content view-all__content">
    {{#each @tags as |tag|}}
      <NachoPill
        class="view-all__tag"
        @text={{tag}}
        @state="neutral"
      />
    {{/each}}
  </section>
</ModalDialog>
{{yield}}
