<section class="notification-confirm-modal__content {{this.baseClass}}__content">
  <div class="{{this.baseClass}}__main {{this.baseClass}}__body">
    <p class="{{this.baseClass}}__item">
      <strong>Subject</strong>
    </p>
    <p class="{{this.baseClass}}__item">
      <strong>Content</strong>
    </p>
  </div>
  <div class="{{this.baseClass}}__main">
    <p class="{{this.baseClass}}__item {{this.baseClass}}__item-highlighted">
      {{@subject}}
    </p>
    <p class="{{this.baseClass}}__item">
      {{@content}}
    </p>
  </div>
  </section>