<DynamicLink @params={{node.link}} @class="browse-category__link">
  {{#if @isForEntityPage}}
    <FaIcon @icon="file-alt" prefix="far" aria-hidden="true" />
  {{else}}
    <FaIcon @icon="folder-open" aria-hidden="true" />
  {{/if}}

  <div class="browse-category__node-name">
    <strong title={{node.link.text}}>
      {{split-text node.link.text 125}}
    </strong>
  </div>

  {{#unless @isForEntityPage}}
    {{#if node.count}}
      <div class="browse-category__count">
        {{pluralize node.count (singularize node.entity)}}
      </div>
    {{/if}}
    <FaIcon
      @icon="chevron-right"
      aria-label="Navigate into data system"
      class="browse-category__chevron"
    />
  {{/unless}}
</DynamicLink>
