<section class="metadata-prompt">
  <header class="metadata-prompt__header">
    <p>
      {{if isEditing
           "Does any field in the schema contain an IDs (e.g. Member ID, Enterprise Profile ID etc) or other PII information?"
           "IDs and PII in the schema"}}

      {{more-info
        link="http://go/gdpr-pii"
        tooltip="more information on Schema field format and types"
      }}

    </p>
  </header>
</section>

<section class="compliance-entities-meta">
  {{ember-selector
    values=fieldReviewOptions
    selected=(readonly fieldReviewOption)
    selectionDidChange=(action "onFieldReviewChange")
  }}

  {{#if changeSetReviewCount}}
    <span class="dataset-compliance-fields__has-suggestions">
          {{changeSetReviewCount}} fields to be reviewed
    </span>
  {{/if}}
</section>

{{#if foldedChangeSet.length}}
  {{#dataset-table
    class="dataset-compliance-fields"
    fields=foldedChangeSet
    sortColumnWithName=sortColumnWithName
    filterBy=filterBy
    sortDirection=sortDirection
    tableRowComponent='dataset-compliance-rollup-row'
    searchTerm=searchTerm as |table|
  }}

    {{#table.head as |head|}}
      {{#head.column class="dataset-compliance-fields__notification-column"}}{{/head.column}}
      {{#head.column class="dataset-compliance-fields__identifier-column"}}
        Field

        {{more-info
          link="http://go/tms-schema"
          tooltip="more information on Schema"
        }}
      {{/head.column}}
      {{#head.column class="nacho-table-cell-wrapped"}}
        System Suggestion & Confidence
      {{/head.column}}
      {{#head.column class="nacho-table-cell-wrapped"}}Compliance Information{{/head.column}}
      {{#head.column class="dataset-compliance-fields__notification-column"}}{{/head.column}}
    {{/table.head}}

    <tr>
      <th>{{!--spacer--}}</th>
      <th colspan="4">
        <div class="dataset-compliance-fields__actions">
          {{disable-bubble-input
            title="Search field names"
            placeholder="Search field names"
            value=table.searchTerm
            on-input=(action table.filterDidChange value="target.value")
          }}
        </div>
      </th>
    </tr>

    {{#table.body as |body|}}
      {{#each (sort-by table.sortBy table.data) as |field|}}
        {{#body.row
          field=field
          isNewComplianceInfo=isNewComplianceInfo
          complianceDataTypes=complianceDataTypes
          onFieldTagAdded=(action "onFieldTagAdded")
          onFieldTagRemoved=(action "onFieldTagRemoved")
          onTagIdentifierTypeChange=(action "tagIdentifierChanged")
          onSuggestionIntent=(action "onFieldSuggestionIntentChange") as |row|
        }}
          <tr class="{{if row.isReadonly 'dataset-compliance-fields--readonly'}}">
            {{#row.cell}}
              {{#if row.isReadonly}}

                <i class="fa fa-lock dataset-compliance-fields--readonly__icon" title="Readonly">
                  {{tooltip-on-element
                    text="Readonly"
                  }}
                </i>

              {{else}}
                {{#if
                  (and row.suggestion (and (not row.suggestionMatchesCurrentValue) (not row.suggestionResolution)))}}

                  <i class="fa fa-exclamation dataset-compliance-fields__has-suggestions__icon"
                     title="Compliance field has suggested values">
                    {{tooltip-on-element
                      text="Has suggestions"
                    }}
                  </i>

                {{else}}

                  {{#if row.isReviewRequested}}

                    <i class="fa fa-question dataset-compliance-fields--review-required__icon"
                       title="Compliance policy information needs review">
                      {{tooltip-on-element
                        text="Please review"
                      }}
                    </i>

                  {{else}}

                    <i class="fa fa-check dataset-compliance-fields--ok__icon" title="All good!">
                      {{tooltip-on-element
                        text="All good!"
                      }}
                    </i>


                  {{/if}}

                {{/if}}
              {{/if}}
            {{/row.cell}}

            {{#row.cell}}
              <div title="{{row.identifierField}}">
                <strong>
                  {{split-text row.identifierField 23}}
                </strong>
              </div>

              <div title="{{row.dataType}}">
                {{split-text row.dataType 23}}
              </div>
            {{/row.cell}}

            {{#row.cell}}
              <div class="dataset-compliance-fields__suggested-values">
                {{#if row.suggestion}}
                  <span class="dataset-compliance-fields__suggested-value {{unless row.suggestionResolution
                                                                                   'dataset-compliance-fields__suggested-value--no-res'}}">
                    {{row.suggestion.identifierType}}
                  </span>

                  <span class="dataset-compliance-fields__suggested-value {{unless row.suggestionResolution
                                                                                   'dataset-compliance-fields__suggested-value--no-res'}}">
                    {{row.suggestion.logicalType}}
                  </span>

                  {{row.suggestion.confidence}}%
                  &nbsp;
                  {{#if isEditing}}

                    {{#if row.suggestionResolution}}
                      <div class="dataset-compliance-fields__resolution {{if (eq row.suggestionResolution 'Accepted')
                                                                             'dataset-compliance-fields__resolution--ok'}}">
                        {{row.suggestionResolution}}
                      </div>
                    {{else}}

                      {{auto-suggest-action
                        type="accept"
                        field=row.fieldProps
                        feedbackAction=(action notifyOnComplianceSuggestionFeedback)
                        onSuggestionClick=(action row.onSuggestionClick)
                      }}

                      {{auto-suggest-action
                        field=row.fieldProps
                        feedbackAction=(action notifyOnComplianceSuggestionFeedback)
                        onSuggestionClick=(action row.onSuggestionClick)
                      }}

                    {{/if}}
                  {{/if}}
                {{else}}
                  &mdash;
                {{/if}}
              </div>
            {{/row.cell}}

            {{#row.cell}}
              {{#if (and isEditing (not row.isReadonly))}}
                <button
                  class="nacho-button nacho-button--tertiary dataset-compliance-fields__add-field"
                  onclick={{action row.onAddFieldTag}}>
                  + Add Field Tag
                </button>
              {{else}}
                {{#each row.fieldChangeSet as |tag|}}
                  <div>
                    {{tag.identifierType}}
                  </div>
                {{/each}}
              {{/if}}
            {{/row.cell}}

            {{#row.cell}}
              <button
                class="nacho-button nacho-button--tertiary dataset-compliance-fields__rollup-toggle"
                onclick={{action row.onToggleRowExpansion}}>

                {{#if row.isRowExpanded}}
                  <i class="glyphicon glyphicon-menu-up" aria-label="Expand field row"></i>
                {{else}}
                  <i class="glyphicon glyphicon-menu-down" aria-label="Collapse field row"></i>
                {{/if}}

              </button>
            {{/row.cell}}
          </tr>

          {{#if row.isRowExpanded}}
            {{#each row.fieldChangeSet as |tag|}}
              {{#dataset-compliance-field-tag
                class="dataset-compliance-fields__tag-row"
                tag=tag
                onTagIdentifierTypeChange=(action "tagIdentifierChanged")
                onTagLogicalTypeChange=(action "tagLogicalTypeChanged")
                onTagOwnerChange=(action "tagOwnerChanged")
                onTagClassificationChange=(action "tagClassificationChanged")
                complianceDataTypes=complianceDataTypes as |tagRowComponent|
              }}

                {{#row.cell}}
                {{!--spacer--}}
                {{/row.cell}}

                {{#row.cell class="dataset-compliance-fields__identifier-cell"}}
                  <div class="dataset-compliance-fields__identifier-select">
                    {{ember-selector
                      disabled=(or (not isEditing) row.isReadonly)
                      values=complianceFieldIdDropdownOptions
                      selected=(readonly tag.identifierType)
                      selectionDidChange=(action tagRowComponent.tagIdentifierTypeDidChange)
                    }}
                  </div>
                {{/row.cell}}

                <td colspan="2">
                  <div class="dataset-compliance-fields__tag-options">
                    {{#if tagRowComponent.isIdType}}
                      <label for="{{concat tagRowComponent.rowId '-compliance-field-logical-type'}}"
                             class="dataset-compliance-fields__tag-label">
                        Field Format:
                      </label>

                      <div class="dataset-compliance-fields__select-wrapper">
                        {{ember-selector
                          id=(concat tagRowComponent.rowId "-compliance-field-logical-type")
                          disabled=(or (not isEditing) row.isReadonly)
                          values=tagRowComponent.fieldFormats
                          selected=(readonly tag.logicalType)
                          selectionDidChange=(action tagRowComponent.tagLogicalTypeDidChange)
                          class=(if tagRowComponent.isTagFormatMissing "dataset-compliance-fields--missing-selection")
                        }}
                      </div>

                      {{#unless tagRowComponent.isTagFormatMissing}}
                        <span class="dataset-compliance-fields__tag-label">
                          Owner:
                        </span>

                        {{input
                          id=(concat tagRowComponent.rowId "-compliance-field-owner-toggle")
                          type="checkbox"
                          class="toggle-switch toggle-switch--light"
                          disabled=(or (not isEditing) row.isReadonly)
                          checked=(readonly (eq tag.nonOwner false))
                          change=(action tagRowComponent.tagOwnerDidChange value="target.checked")
                        }}
                        <label for="{{concat tagRowComponent.rowId '-compliance-field-owner-toggle'}}"
                               class="toggle-button"></label>

                        {{!--TODO: Duplicated code move to component or partial--}}
                        <label for="{{concat tagRowComponent.rowId '-compliance-field-classification'}}"
                               class="dataset-compliance-fields__tag-label">
                          Security Classification:
                          <sup>
                          <span
                            class="glyphicon glyphicon-question-sign"
                            title={{helpText.classification}}>
                            {{tooltip-on-element text=helpText.classification
                            }}
                          </span>
                          </sup>
                        </label>

                        <div class="dataset-compliance-fields__select-wrapper">
                          {{ember-selector
                            id=(concat tagRowComponent.rowId "-compliance-field-classification")
                            class="nacho-select--hidden-state"
                            disabled=(or (not isEditing) row.isReadonly)
                            values=classifiers
                            selected=tagRowComponent.tagClassification
                            selectionDidChange=(action tagRowComponent.tagClassificationDidChange)
                          }}
                        </div>
                      {{/unless}}
                    {{else}}
                      {{#if tagRowComponent.isPiiType}}
                      {{!--TODO: Duplicated code move to component or partial--}}
                        <label for="{{concat tagRowComponent.rowId '-compliance-field-classification'}}"
                               class="dataset-compliance-fields__tag-label">
                          Security Classification:
                          <sup>
                          <span
                            class="glyphicon glyphicon-question-sign"
                            title={{helpText.classification}}>
                            {{tooltip-on-element text=helpText.classification
                            }}
                          </span>
                          </sup>
                        </label>

                        <div class="dataset-compliance-fields__select-wrapper">
                          {{ember-selector
                            id=(concat tagRowComponent.rowId "-compliance-field-classification")
                            class="nacho-select--hidden-state"
                            disabled=(or (not isEditing) row.isReadonly)
                            values=classifiers
                            selected=tagRowComponent.tagClassification
                            selectionDidChange=(action tagRowComponent.tagClassificationDidChange)
                          }}
                        </div>
                      {{/if}}
                    {{/if}}
                  </div>
                </td>

                {{#row.cell}}
                  {{#if isEditing}}
                    <button class="nacho-button nacho-button--tertiary dataset-compliance-fields__remove-tag"
                            onclick={{action row.onRemoveFieldTag tag}}>
                      &times;
                    </button>
                  {{/if}}
                {{/row.cell}}
              {{/dataset-compliance-field-tag}}
            {{/each}}
          {{/if}}

        {{/body.row}}
      {{/each}}
    {{/table.body}}

  {{/dataset-table}}

{{else}}

  {{empty-state
    heading="No fields found"
    subHead="If you have a filter applied, setting this to the least restrictive option may yield more results."
  }}

{{/if}}
