{{#if getContainerDataTask.last.isError}}

  {{empty-state heading="A server error occurred getting owners. Please try again shortly."}}

  <div class="dataset-owner__retry-owners">
    <button
      class="nacho-button nacho-button--large-inverse"
      onclick={{perform getContainerDataTask}}>

      {{#if getContainerDataTask.isIdle}}
        Retry
      {{else}}
        {{pendulum-ellipsis-animation}}
      {{/if}}

    </button>
  </div>

{{else}}

  {{#if getContainerDataTask.isRunning}}

    {{pendulum-ellipsis-animation}}

  {{else}}

    {{#if fromUpstream}}

      {{datasets/containers/upstream-owners upstreamUrn=upstreamUrn}}

    {{else}}

      {{dataset-authors
        owners=owners
        suggestedOwners=suggestedOwners
        ownerTypes=ownerTypes
        setOwnershipRuleChange=setOwnershipRuleChange
        save=(action "saveOwnerChanges")
      }}

    {{/if}}

  {{/if}}

{{/if}}
