<div id="{{@id}}" class="{{this.baseClass}} {{this.baseClass}}--basic {{this.baseClass}}--deco {{@class}}">
  <PowerSelect
    @class="{{this.baseClass}} {{this.baseClass}}--basic {{this.baseClass}}__deco-select"
    @renderInPlace={{true}}
    @options={{this.renderedOptions}}
    @selected={{or this.selectedOption @selected}}
    @onchange={{this.onSelectionChange}}
    @placeholder={{@placeholder}}
    @searchEnabled={{false}}
  as |opt|
  >
    {{#if hasBlock}}
      {{yield (hash item=opt)}}
    {{else}}
      {{#if opt.isCategoryHeader}}

        <div class="{{this.baseClass}}__category-header">
          {{or opt.label opt.value}}
        </div>

      {{else}}
        {{or opt.label opt.value}}
      {{/if}}
    {{/if}}
  </PowerSelect>
</div>