{{!-- template-lint-disable no-invalid-interactive --}}
<span
  class="{{@class}} nacho-pill nacho-pill--link {{if @isActive "nacho-pill--link--active"}}"
  {{on 'click' (fn this.onClick)}}
  ...attributes>
  {{#if hasBlock}}
    {{yield (hash params=this.linkToParams)}}
  {{else}}
    {{#if @linkTo}}
      {{#link-to params=this.linkToParams}}
        {{@text}}
      {{/link-to}}
    {{else}}
      {{@text}}
    {{/if}}
  {{/if}}
</span>