{{#dataset-table
  fields=entities as |table|}}
  {{#table.body as |body|}}
    {{#each
      table.data as |entity|}}
      {{#body.row as |row|}}
        {{#row.cell}}
          {{#link-to entityRoute entity.id}}
            <span class="entity-list__title">
              {{entity.name}}
            </span>
          {{/link-to}}
          {{dataset-owner-list owners=entity.owners datasetName=entity.name}}

          {{#if entity.formatedModified}}
            <span>Last Modified:</span>
            <span title="{{entity.formatedModified}}">
              {{moment-from-now entity.formatedModified }}
            </span>
          {{/if}}
        {{/row.cell}}
        {{#row.cell}}
          {{datasets/dataset-actions actionItems=actionItems}}
        {{/row.cell}}
      {{/body.row}}
    {{/each}}
  {{/table.body}}
{{/dataset-table}}
