{{#if (eq currentEntity 'flows')}}
  {{#dataset-table
    fields=entities as |table|}}
    {{#table.head as |head|}}
      {{#head.column}}
        Flow Group
      {{/head.column}}

      {{#head.column}}
        Flow Name
      {{/head.column}}

      {{#head.column}}
        Flow Level
      {{/head.column}}

      {{#head.column}}
        Job Count
      {{/head.column}}

      {{#head.column}}
        Creation Time
      {{/head.column}}

      {{#head.column}}
        Modified Time
      {{/head.column}}
    {{/table.head}}

    {{#table.body as |body|}}
      {{#each
        table.data as |flow|}}
        {{#body.row as |row|}}
          {{#row.cell}}
            {{flow.group}}
          {{/row.cell}}

          {{#row.cell}}
            {{#link-to entityRoute flow.id (query-params name=flow.appCode)}}
              {{flow.name}}
            {{/link-to}}
          {{/row.cell}}

          {{#row.cell}}
            {{flow.level}}
          {{/row.cell}}

          {{#row.cell}}
            {{flow.jobCount}}
          {{/row.cell}}

          {{#row.cell}}
            {{moment-calendar flow.created sameElse="MMM Do YYYY, h:mm a"}}
          {{/row.cell}}

          {{#row.cell}}
            {{moment-calendar flow.modified sameElse="MMM Do YYYY, h:mm a"}}
          {{/row.cell}}
        {{/body.row}}
      {{/each}}
    {{/table.body}}
  {{/dataset-table}}
{{else}}

  {{#infinite-scroller
    use-document=true
    class="browse-entities"
    on-load-more=(action 'loadMoreEntities') as |scroller|
  }}

    {{#each entities as |entity|}}

      <div class="browse-entities__entity">
        {{#link-to entityRoute 'urn' (query-params urn=entity.uri)}}
          <span class="browse-entities__title">
            {{entity.nativeName}}
          </span>
        {{/link-to}}

        <br>

        {{#if entity.modifiedTime}}
          <span>Last Modified:</span>

          <span title="{{entity.modifiedTime}}">
            {{moment-from-now entity.modifiedTime }}
          </span>
        {{/if}}
      </div>

    {{else}}

      {{empty-state
        heading="No entities found"
        subHead="Could not find any datasets in our records"
      }}

    {{/each}}

  {{/infinite-scroller}}
{{/if}}
