{{#dynamic-link params=dataSystem class="data-system__link"}}
  {{#if isDataset}}
    {{fa-icon "file-text-o" aria-hidden="true"}}
  {{else}}
    {{fa-icon "folder-open-o" aria-hidden="true"}}
  {{/if}}

  <div class="data-system__node-name">
    <strong title="{{dataSystem.text}}">
      {{split-text dataSystem.text 125}}
    </strong>
  </div>

  {{#unless isDataset}}
    <div class="data-system__downlink">
      <i class="glyphicon glyphicon-menu-right" aria-label="Navigate into data system"></i>
    </div>
  {{/unless}}
{{/dynamic-link}}
