<div class="{{baseToggleClass}}__content">
  {{#let (eq value leftOptionValue) as |leftActive|}}

    <button
      type="button"
      class="{{baseToggleClass}}__button {{baseToggleClass}}__button--left {{if leftActive (concat baseToggleClass "__button--active")}}"
      {{action "onValueChange" leftOptionValue}}
    >
      {{leftOptionText}}
    </button>
    <button
      type="button"
      class="{{baseToggleClass}}__button {{baseToggleClass}}__button--right {{unless leftActive (concat baseToggleClass "__button--active")}}"
      {{action "onValueChange" rightOptionValue}}
    >
      {{rightOptionText}}
    </button>
    <div
      class="{{baseToggleClass}}__slider {{baseToggleClass}}__slider--{{if leftActive "left-active" "right-active"}}"
    >
    </div>

  {{/let}}
</div>
