{{#if shouldShowBrowserRevamp}}
  <div class="row">
    <div class="container">
      {{#browser/containers/data-systems params=model as |dataSystemsContainer|}}
        {{#if dataSystemsContainer.getDataSystemsNodesTask.isRunning}}
          {{pendulum-ellipsis-animation}}
        {{else}}
          {{#if dataSystemsContainer.requestParams.platform}}
            <section class="data-systems-container">
              <div class="data-systems-container__navbar">
                <div class="data-systems-container__navbar__breadcrumbs">
                  {{datasets/urn-breadcrumbs urn=dataSystemsContainer.urn}}
                </div>

                <div class="data-systems-container__navbar__count">
                  {{#datasets/containers/data-systems-count urn=dataSystemsContainer.urn as |countContainer|}}
                    <span class="data-system-count-pill">
                      {{pluralize countContainer.count 'dataset'}}
                    </span>
                  {{/datasets/containers/data-systems-count}}
                </div>
              </div>

              {{browser/data-systems nodes=dataSystemsContainer.nodes}}
            </section>
          {{else}}
            {{#each dataSystemsContainer.nodes as |node|}}
              <div class="col-md-3">
                <div class="data-platform-container">
                  <div class="data-platform">
                    {{#browser/containers/data-platform platformParams=node as |platformContainer|}}
                      {{browser/data-platform
                        platform=platformContainer.platformProps
                        node=node
                        platformTask=platformContainer.getDataPlatformTask
                      }}
                    {{/browser/containers/data-platform}}
                  </div>
                </div>
              </div>
            {{/each}}
          {{/if}}
        {{/if}}
      {{/browser/containers/data-systems}}
    </div>
  </div>
{{else}}
  <div class="row">
    {{browser/containers/browser-summary params=model}}
  </div>

  <div class="row">
    <div class="col-sm-3 wh-sidebar">
      {{browser/containers/browser-rail header=header params=model}}
    </div>

    <div class="col-sm-9 wh-main-content">
      {{browser/containers/browser-viewport params=model}}
    </div>
  </div>
{{/if}}
{{outlet}}
