<div>
  {{!-- Because this tab can be active while no search config is available, this ensures that
        a search config must exist before trying to use the search component--}}
  {{#if this.searchConfig}}
    <Search::SearchMain
      @searchConfig={{this.searchConfig}}
      @trackPrefix={{concat this.ownedEntity.displayName "iown"}}
      @title={{concat (capitalize this.ownedEntity.displayName) " " @entity.name " Owns"}}
      @keyword={{concat "owners:" @entity.username}}
      @page={{@queryParams.page}}
      @entity={{this.ownedEntity.displayName}}
      @noResultMsg={{concat @entity.name " doesn't own any " (capitalize this.ownedEntity.displayName)}}
      @showFacets={{false}}
    />
  {{/if}}
</div>
