<thead>
  <tr>
    {{#each headers as |header index|}}
      <th class={{get headerClasses index}}>{{header}}</th>
    {{/each}}
  </tr>
</thead>
<tbody>
  {{#each renderedTableData as |rowData|}}
    {{#unless rowData.isHidden}}
      <tr class="dataset-health__score-table__row {{rowData.highlightClass}}">
        <td class="dataset-health__score-table__category">
          {{rowData.category}}
        </td>
        <td class="dataset-health__score-table__description">
          {{rowData.description}}
        </td>
        <td class="dataset-health__score-table__score">
          {{rowData.score}}%
        </td>
        <td class="dataset-health__score-table__severity">
          {{rowData.severity}}
        </td>
      </tr>
    {{/unless}}
  {{/each}}
</tbody>