<div id="compliance" class="tab-body">
  {{#if _hasBadData}}
    <div class="alert alert-danger post-action-notification" role="alert">
      <p>
        Oops! We have discovered some issues with this Dataset's fields that
        may put any updates in an invalid state. <br/>
        Unfortunately updates are <strong>disabled</strong> at this time. <br/>
        Please shoot us an email at
        <a href="mailto:ask_metadata@linkedin.com">ask_metadata@linkedin.com</a>
        and we will get on this asap! <br/>
        Our apologies.
      </p>
    </div>
  {{else}}
    <section class="action-bar">
      <button class="nacho-button nacho-button--large-inverse"
        {{action "saveCompliance"}}>
        Save
      </button>

      <button class="nacho-button nacho-button--large"
        {{action "resetCompliance"}}>
        <i class="fa fa-times" title="Start Over">
        </i>
        Start Over
      </button>
    </section>

    <div class="alert alert-{{_alertType}} post-action-notification" role="alert">
      {{if _message _message ""}}
    </div>
  {{/if}}

  {{!--Renders content of `hiddenTrackingFields` to the viewer if the dataset contains hidden tracking fields--}}
  {{#if containsHiddenTrackingFields}}
    <div class="alert alert-info" role="alert">
      <p>{{hiddenTrackingFields}}</p>
    </div>
  {{/if}}

  <section class="metadata-prompt" id="has-member">
    <header class="metadata-prompt__header">
      <p>
        <span class="metadata-prompt__page-number">
          <strong>1</strong>
          of
          <strong>3</strong>
        </span>
        Do fields in the schema contain the ID of a member (e.g. id, urn,
        etcetera)?
      </p>
    </header>
  </section>

  {{dataset-schema-table
    sortColumnWithName=sortColumnWithName
    filterBy=filterBy
    sortDirection=sortDirection
    searchTerm=searchTerm
    fields=memberComplianceEntities
    fieldFormats=logicalTypes
    onFormatChange=(action "onFieldFormatChange")
    onSubjectChange=(action "onMemberFieldSubjectChange")
    onPrivacyChange=(action "onFieldPrivacyChange")}}

  <section class="metadata-prompt" id="has-org">
    <header class="metadata-prompt__header">
      <p>
        <span class="metadata-prompt__page-number">
          <strong>2</strong>
          of
          <strong>3</strong>
        </span>
        Do fields in the schema contain the ID of an organization?
      </p>
    </header>
  </section>

  {{dataset-table-org-compliance
    sortColumnWithName=sortColumnWithName
    filterBy=filterBy
    sortDirection=sortDirection
    searchTerm=searchTerm
    fields=orgComplianceEntities
    fieldFormats=logicalTypes
    onFormatChange=(action "onFieldFormatChange")
    onPrivacyChange=(action "onFieldPrivacyChange")}}

  <section class="metadata-prompt" id="has-group">
    <header class="metadata-prompt__header">
      <p>
        <span class="metadata-prompt__page-number">
          <strong>3</strong>
          of
          <strong>3</strong>
        </span>
        Do fields in the schema contain the ID of a group?
      </p>
    </header>
  </section>

  {{dataset-table-group-compliance
    sortColumnWithName=sortColumnWithName
    filterBy=filterBy
    sortDirection=sortDirection
    searchTerm=searchTerm
    fields=groupComplianceEntities
    fieldFormats=logicalTypes
    onFormatChange=(action "onFieldFormatChange")
    onPrivacyChange=(action "onFieldPrivacyChange")}}
</div>
{{yield}}
