<div id="confidential" class="tab-body">
  <section class="action-bar">
    <button class="nacho-button nacho-button--large-inverse"
            title={{unless isDatasetFullyClassified
                           "Ensure you have provided a yes/no value for all dataset tags"
                           "Save"}}
              disabled={{not isDatasetFullyClassified}}
      {{action "saveSecuritySpecification"}}>
      Save
    </button>
    <button class="nacho-button nacho-button--large"
      {{action "resetSecuritySpecification"}}>
      <i class="fa fa-times" title="Start Over">
      </i>
      Start Over
    </button>
  </section>

  <div class="alert alert-info" role="alert">
    <p>
      <strong>
        Why can't I click save? It's greyed out
      </strong>
    </p>
    <p>
      Please note that to save any updates to the confidential specification of this dataset,
      all Dataset Content Types below need a yes/no value for <strong>each</strong> content type.
    </p>
  </div>

  <div class="alert alert-{{_alertType}} post-action-notification" role="alert">
    {{if _message _message ""}}
  </div>

  {{#if isNewSecuritySpecification}}
    <div class="alert alert-info" role="alert">
      <p>
        A security specification does not currently exist for this dataset.
        <br>
        Even if there are no field classification concerns, please ensure you click "Save".
      </p>
    </div>
  {{/if}}

  <section class="metadata-prompt">
    <header class="metadata-prompt__header">
      <p>
        This dataset contains the following types of Member data:

        <!--TODO: DSS-6716-->
        <!-- DRY out with wrapper component that takes the link as an attribute-->
        <a
          target="_blank"
          href="https://iwww.corp.linkedin.com/wiki/cf/display/DWH/List+of+Metadata+for+Data+Sets#ListofMetadataforDataSets-DatasetLevelTags">
          <sup>
            More Info

            <span class="glyphicon glyphicon-question-sign"
                  title="More information on Dataset classification with examples"></span>
          </sup>
        </a>
      </p>
    </header>
  </section>

  <table class="nacho-table nacho-table--bordered nacho-table--stripped">
    <thead>
    <tr>
      <th>Dataset Content Type</th>
      <th>Is this type of member data contained in this dataset?</th>
    </tr>
    </thead>
    <tbody>
    {{#each-in datasetClassification as |classification props|}}
      <tr>
        <td>
          {{props.label}}

          <span class="dataset-tag-container">
            {{#if (eq props.value true)}}
              <i class="glyphicon glyphicon-ok dataset-classification-indicator--tagged"
                 title="{{props.label}} is in dataset"></i>
            {{/if}}

            {{#if (eq props.value false)}}
              <i class="glyphicon glyphicon-remove dataset-classification-indicator--not-tagged"
                 title="{{props.label}} is not in dataset"></i>
            {{/if}}
          </span>
        </td>
        <td>
          {{#radio-button-composer
            value=true
            name=classification
            groupValue=(readonly props.value)
            changed=(action "didChangeDatasetClassification")}}
            Yes
          {{/radio-button-composer}}
          {{#radio-button-composer
            value=false
            name=classification
            groupValue=(readonly props.value)
            changed=(action "didChangeDatasetClassification")}}
            No
          {{/radio-button-composer}}
        </td>
      </tr>
    {{/each-in}}
    </tbody>
  </table>

  <br>

  {{!--Renders content of `hiddenTrackingFields` to the viewer if the dataset contains hidden tracking fields--}}
  {{#if containsHiddenTrackingFields}}
    <div class="alert alert-info" role="alert">
      <p>{{hiddenTrackingFields}}</p>
    </div>
  {{/if}}
  <section class="metadata-prompt" id="has-confidentiality">
    <header class="metadata-prompt__header">
      <p>
        What are the field formats or types for the dataset fields below?

        <!--TODO: DSS-6716-->
        <!-- DRY out with wrapper component that takes the link as an attribute-->
        <a
          target="_blank"
          href="https://iwww.corp.linkedin.com/wiki/cf/display/DWH/Metadata+Acquisition#ProjectOverview-confidential">
          <sup>
            More Info

            <span class="glyphicon glyphicon-question-sign"
              title="Link to more information"></span>
          </sup>
        </a>
      </p>
    </header>
  </section>

  {{#dataset-table fields=classificationDataFieldsSansHiddenTracking
                   sortColumnWithName=sortColumnWithName
                   filterBy=filterBy
                   sortDirection=sortDirection
                   searchTerm=searchTerm as |table|}}
    <caption>
      <input
        type="text"
        title="Search fields"
        placeholder="Search fields"
        value="{{table.searchTerm}}"
        oninput={{action table.filterDidChange value="target.value"}}>
    </caption>
    {{#table.head as |head|}}
      {{#head.column columnName="identifierField"}}Field{{/head.column}}
      {{#head.column}}Data Type{{/head.column}}

      {{#head.column}}
        Field Format
        <!--TODO: DSS-6716-->
        <!-- DRY out with wrapper component that takes the link as an attribute-->
        <a
          target="_blank"
          href="https://iwww.corp.linkedin.com/wiki/cf/display/DWH/Metadata+Acquisition#ProjectOverview-confidential">
          <sup>
          <span class="glyphicon glyphicon-question-sign"
                title="Link to more information"></span>
          </sup>
        </a>
      {{/head.column}}

      {{#head.column}}
        Security Classification
        <!--TODO: DSS-6716-->
        <!-- DRY out with wrapper component that takes the link as an attribute-->
        <a
          target="_blank"
          href="https://iwww.corp.linkedin.com/wiki/cf/display/DWH/Metadata+Acquisition#ProjectOverview-confidential">
          <sup>
        <span class="glyphicon glyphicon-question-sign"
              title="Link to more information"></span>
          </sup>
        </a>
      {{/head.column}}
    {{/table.head}}

    {{#table.body as |body|}}
      {{#each
        (slice table.beginOffset table.endOffset (sort-by table.sortBy table.data)) as |field|}}
        {{#body.row as |row|}}
          {{#row.cell}}
            {{field.identifierField}}
          {{/row.cell}}

          {{#row.cell}}
            {{field.dataType}}
          {{/row.cell}}

          {{#row.cell}}
            {{ember-selector
              values=logicalTypes
              selected=field.logicalType
              selectionDidChange=(action "updateLogicalType" field)}}
          {{/row.cell}}

          {{#row.cell}}
            {{ember-selector
              values=classifiers
              selected=field.classification
              disabled=(not field.logicalType)
              selectionDidChange=(action "updateClassification" field)}}
          {{/row.cell}}
        {{/body.row}}
      {{/each}}
    {{/table.body}}
    {{#table.foot}}
      {{dataset-table-pager
        data=table.data
        page=table.page
        limit=table.limit
        pageLengths=table.pageLengths
        beginOffset=table.beginOffset
        endOffset=table.endOffset
        onLimitChanged=table.onLimitChanged
        pagerColSpan=4
        onPageChanged=table.onPageChanged}}
    {{/table.foot}}
  {{/dataset-table}}
</div>
{{yield}}
