<td>
    {{user-avatar userName=user.userName}}
</td>
<td>
    {{user.name}}
</td>
<td>
    {{user.idType}}
</td>
<td>
    {{user.source}}
</td>
<td>
    {{moment-calendar user.modifiedTime sameElse="MMM Do YYYY, h:mm a"}}
</td>
<td class="acl-table__ownership">
    {{user.ownerShip}}
</td>
<td>
    <button class="nacho-button nacho-button--small confirm-suggested-dataset-author" {{action addOwner}}>
        <i class="fa fa-plus" title="Add an Owner"></i>
    </button>
</td>