<div class="row" style="margin-top: 5px; margin-bottom: 5px;">
  <div class="col-xs-12">
    <div class="btn-group" role="group">
      <button id="addownerbtn" type="button" class="btn btn-default" {{action "addOwner" owners}}>
        <i class="fa fa-plus" title="add an owner">
        </i>
      </button>
      <button type="button" class="btn btn-default" {{action "updateOwners" owners}}>
        <i class="fa fa-save" title="save the change">
        </i>
      </button>
    </div>
    {{#if showMsg}}
      <div class="alert {{alertType}}" role="alert">{{ownerMessage}}</div>
    {{/if}}
  </div>
</div>
<table class="table table-striped" style="word-break: break-all;">
  <thead>
  <tr>
    <th class="col-xs-2">User Name</th>
    <th class="col-xs-2">Full Name</th>
    <th class="col-xs-1">Owner ID Type</th>
    <th class="col-xs-1">Owner Source</th>
    <th class="col-xs-2">Owner Type</th>
    <th class="col-xs-2">Owner Sub Type</th>
    <th class="col-xs-1">Confirmed</th>
    <th class="col-xs-1"></th>
  </tr>
  </thead>
  <tbody data-attribute="owner-table">
  {{#each owners as |owner|}}
    <tr>
      <td>{{input class="userEntity" value=owner.userName}}</td>
      <td>{{owner.name}}</td>
      <td>{{owner.idType}}</td>
      <td>{{owner.source}}</td>
      <td>
        {{#ember-selector values=ownerTypes selected=owner.type}}
        {{/ember-selector}}
      </td>
      <td>
        {{input value=owner.subType}}
      </td>
      <td>
        {{#if owner.confirmedBy}}
          <i class="fa fa-check-square-o" title="Owner confirmed by {{owner.confirmedBy}}" {{action "confirmOwner" owner
                                                                                                    false}}>
          </i>
        {{else}}
          <i class="fa fa-square-o" title="Please confirmed" {{action "confirmOwner" owner true}}>
          </i>
        {{/if}}
      </td>
      <td>
        <i class="fa fa-trash" title="remove this owner" {{action "removeOwner" owners owner}}>
        </i>
      </td>
    </tr>
  {{/each}}
  </tbody>
</table>