<div id="compliance" class="tab-body">
  {{#if _hasBadData}}
    <div class="alert alert-danger post-action-notification" role="alert">
      <p>
        Oops! We have discovered some issues with this Dataset's fields that
        may put any updates in an invalid state. <br/>
        Unfortunately updates are <strong>disabled</strong> at this time. <br/>
        Please shoot us an email at
        <a href="mailto:ask_metadata@linkedin.com">ask_metadata@linkedin.com</a>
        and we will get on this asap! <br/>
        Our apologies.
      </p>
    </div>
  {{else}}
    <section class="action-bar">
      {{#if isEditing}}
        <div class="container action-bar__content">
          <button
            class="nacho-button nacho-button--large-inverse action-bar__item"
            title={{unless isDatasetFullyClassified
                           "Ensure you have provided a yes/no value for all dataset tags"
                           "Save"}}
              disabled={{isSavingDisabled}}
            {{action "saveCompliance"}}>
            Save
          </button>

          <button class="nacho-button nacho-button--large action-bar__item"
            {{action "resetCompliance"}}>
            <i class="fa fa-times" title="Cancel">
            </i>
            Cancel
          </button>

          {{#if _message}}
            <div class="alert alert-{{_alertType}} post-action-notification action-footer-notification" role="alert">
              {{_message}}
            </div>
          {{/if}}
        </div>
      {{/if}}
    </section>
  {{/if}}

  <div class="secondary-actions">
    <div class="policy-last-saved">
      Last saved:
      <span class="policy-last-saved__saved">
        {{if isNewComplianceInfo 'Never'
             (moment-from-now policyModificationTimeInEpoch)}}
      </span>
    </div>

    {{#if isEditing}}
      {{#if (not _hasBadData)}}
        {{json-upload receiveJsonFile=(action "onComplianceJsonUpload") class="secondary-actions__action"}}
      {{/if}}
    {{else}}
      <button
        {{action "onEdit"}}
        class="nacho-button--large nacho-button--secondary secondary-actions__action">
        Edit
      </button>

      {{#unless isNewComplianceInfo}}
        <button
          {{action "onComplianceDownloadJson"}}
          class="nacho-button nacho-button--large-inverse secondary-actions__action">
          Download as a JSON file
        </button>
      {{/unless}}
    {{/if}}
  </div>

  <section class="metadata-prompt">
    <header class="metadata-prompt__header">
      <p>
        1. Does this dataset contain the following types of Member data:

        <!--TODO: DSS-6716-->
        <!-- DRY out with wrapper component that takes the link as an attribute-->
        <a
          target="_blank"
          href="http://go/gdpr-taxonomy#MetadataTaxonomyforDataSets-DatasetLevelTags">
          <sup>
            More Info

            <span class="glyphicon glyphicon-question-sign"
                  title="More information on Dataset classification with examples"></span>
          </sup>
        </a>
      </p>
    </header>
  </section>

  <table class="nacho-table nacho-table--bordered nacho-table--stripped">
    <thead>
    <tr>
      <th>Dataset Content Type</th>
      <th>
        <span class="dataset-field-value">Is this type of member data contained in this dataset?</span>
      </th>
    </tr>
    </thead>
    <tbody>
    {{#each-in datasetClassification as |classification props|}}
      <tr>
        <td class="dataset-field-content">
          {{props.label}}

          <span class="dataset-tag-container">
            {{#if (eq props.value true)}}
              <i class="glyphicon glyphicon-ok dataset-classification-indicator--tagged"
                 title="{{props.label}} is in dataset"></i>
            {{/if}}

            {{#if (eq props.value false)}}
              <i class="glyphicon glyphicon-remove dataset-classification-indicator--not-tagged"
                 title="{{props.label}} is not in dataset"></i>
            {{/if}}
          </span>
        </td>
        <td>
          <span class="dataset-field-value">
            {{#radio-button-composer
              value=true
              name=classification
              groupValue=(readonly props.value)
              changed=(action "onChangeDatasetClassification")}}
              Yes
            {{/radio-button-composer}}
            {{#radio-button-composer
              value=false
              name=classification
              groupValue=(readonly props.value)
              changed=(action "onChangeDatasetClassification")}}
              No
            {{/radio-button-composer}}
          </span>
        </td>
      </tr>
    {{/each-in}}
    </tbody>
  </table>

  <section class="metadata-prompt">
    <header class="metadata-prompt__header">
      <p>
        2. Do fields in the schema contain the ID of a member (e.g. id, urn,
        etcetera) and what are the formats of the fields in the schema?
        <a
          target="_blank"
          href="http://go/gdpr-taxonomy#MetadataTaxonomyforDataSets-Field-levelDataTypelists">
          <sup>
            More Info

            <span class="glyphicon glyphicon-question-sign"
                  title="More information on Schema field format and types"></span>
          </sup>
        </a>
      </p>
    </header>
    {{!--Renders content of `hiddenTrackingFields` to the viewer if the dataset contains hidden tracking fields--}}
    {{#if containsHiddenTrackingFields}}
      {{hiddenTrackingFields}}
    {{/if}}
  </section>

  {{#if mergedComplianceEntitiesAndColumnFields.length}}
    {{#dataset-table
      class="nacho-table--stripped dataset-compliance-fields"
      fields=mergedComplianceEntitiesAndColumnFields
      sortColumnWithName=sortColumnWithName
      filterBy=filterBy
      sortDirection=sortDirection
      tableRowComponent='dataset-compliance-row'
      searchTerm=searchTerm as |table|
    }}
      <caption>
        <input
          type="text"
          title="Search fields"
          placeholder="Search fields"
          value="{{table.searchTerm}}"
          oninput={{action table.filterDidChange value="target.value"}}>
      </caption>
      {{#table.head as |head|}}
        {{#head.column class="dataset-compliance-fields__notification-column"}}{{/head.column}}
        {{#head.column columnName="identifierField"}}Field{{/head.column}}
        {{#head.column columnName="dataType"}}Data Type{{/head.column}}
        {{#head.column class="nacho-table-cell-wrapped" columnName="confidence"}}
          System Suggestion Confidence
        {{/head.column}}
        {{#head.column class="nacho-table-cell-wrapped"}}
          Member, Organization, or Group, ID's
          <a
            target="_blank"
            href="http://go/metadata_acquisition#ProjectOverview-compliance">
            <sup>
              More Info

              <span class="glyphicon glyphicon-question-sign"
                    title="More information on various IDs"></span>
            </sup>
          </a>
        {{/head.column}}
        {{#head.column}}
          Field Format?
          <a
            target="_blank"
            href="http://go/gdpr-taxonomy#MetadataTaxonomyforDataSets-DatasetLevelTags">
            <sup>
              More Info

              <span class="glyphicon glyphicon-question-sign"
                    title="More information on Field Format"></span>
            </sup>
          </a>
        {{/head.column}}
        {{#head.column}}
          Security Classification
          <sup>
          <span
            class="glyphicon glyphicon-question-sign"
            title={{helpText.classification}}>
            {{tooltip-on-component
              event="click"
              hideOn="click"
              text=helpText.classification
            }}
          </span>
          </sup>
        {{/head.column}}
      {{/table.head}}
      {{#table.body as |body|}}
        {{#each (sort-by table.sortBy table.data) as |field|}}
          {{#body.row
            field=field
            class=(if field.suggestion "dataset-compliance-fields__has-suggestions")
            onFieldLogicalTypeChange=(action 'onFieldLogicalTypeChange')
            onFieldClassificationChange=(action 'onFieldClassificationChange')
            onFieldIdentifierTypeChange=(action 'onFieldIdentifierTypeChange')as |row|}}

            {{#row.cell}}
              {{#if row.suggestion}}
                <span class="notification-dot notification-dot--has-prediction"
                      aria-label="Has Suggested Values"></span>
              {{/if}}
            {{/row.cell}}

            {{#row.cell}}
              {{row.identifierField}}
            {{/row.cell}}

            {{#row.cell}}
              {{row.dataType}}
            {{/row.cell}}

            {{#row.cell}}
              {{#if row.suggestion}}
                {{row.suggestion.confidence}}%
              {{else}}
                &mdash;
              {{/if}}
            {{/row.cell}}

            {{#row.cell}}
              {{ember-selector
                disabled=(not isEditing)
                values=fieldIdentifierOptions
                selected=(readonly row.identifierType)
                selectionDidChange=(action row.onFieldIdentifierTypeChange)
              }}
            {{/row.cell}}

            {{#row.cell}}
              {{#power-select
                options=row.fieldFormats
                selected=row.logicalType
                disabled=(or row.isFieldFormatDisabled (not isEditing))
                placeholder="Select Format"
                allowClear=true
                searchField="label"
                triggerClass="ember-power-select-trigger-search"
                onchange=(action row.onFieldLogicalTypeChange) as |fieldFormat|}}
                {{fieldFormat.label}}
              {{/power-select}}
            {{/row.cell}}

            {{#row.cell}}
              {{ember-selector
                class="nacho-select--hidden-state"
                values=classifiers
                selected=row.classification
                disabled=(or (not isEditing) (not row.logicalType))
                selectionDidChange=(action row.onFieldClassificationChange)
              }}
            {{/row.cell}}
          {{/body.row}}
        {{/each}}
      {{/table.body}}
    {{/dataset-table}}
  {{/if}}
</div>

{{yield}}
