<div class="tab-body">
  <section class="ownership-actions">
    <button class="nacho-button nacho-button--large-inverse"
            title={{if disableConfirmOwners
                       "Need at least two confirmed owners to make changes"
                       "Save"}}
              disabled={{disableConfirmOwners}}
      {{action "updateOwners"}}>
      Save
    </button>

    <button class="nacho-button nacho-button--large"
      {{action "addOwner" owners}}>
      <i class="fa fa-plus" title="Add an Owner">
      </i>
      Add an Owner
    </button>
  </section>

  <div class="alert alert-info" role="alert">
    <p>
      Please note that to make any update the list of owners for this dataset,
      there needs to be:
    </p>

    <p>At <strong>least</strong> two (2) confirmed owners who are both</p>

    <ul>
      <li>
        of ID Type <code>USER</code>
      </li>
      <li>
        of Owner Type <code>Owner</code>
      </li>
    </ul>
  </div>


  {{#if errorMessage}}
    <div class="alert alert-danger" role="alert">{{errorMessage}}</div>
  {{/if}}

  {{#if actionMessage}}
    <div class="alert alert-success" role="alert">{{actionMessage}}</div>
  {{/if}}

  <table class="nacho-table nacho-table--bordered">
    <thead>
    <tr>
      <th>User Name</th>
      <th>Full Name</th>
      <th>ID Type</th>
      <th>Source</th>
      <th>Owner Type</th>
      <th>Confirmed</th>
      <th>Remove</th>
    </tr>
  {{/each}}
  </tbody>
</table>