{{#if owners}}
  Owners:
  <ul class="dataset-owner-list__list">
    {{#each owners as |owner|}}
      <li class="dataset-owner-list__item {{if owner.email "dataset-owner-list__item--with-email"}}">
        {{#if owner.email}}
          <a title="Email {{owner.name}} about {{datasetName}}"
             href="mailto:{{owner.email}}?subject=RE: Dataset {{datasetName}}"
             target="_blank">
            {{owner.name}}
          </a>
        {{else}}
          {{owner.name}}
        {{/if}}
      </li>
    {{/each}}
  </ul>
  {{#if ownersEmailList}}
    <span class="dataset-owner-list__email-owners">
      <a title="Email all dataset owners"
         href="mailto: {{ownersEmailList}}?subject=RE: Dataset {{datasetName}}"
         target="_blank">
        Ask a question?
      </a>
    </span>
  {{/if}}
{{else}}
  No known owners
{{/if}}
