<td>
  {{user-avatar userName=owner.userName}}
  {{owner.userName}}
</td>

<td>
  {{owner.name}}
</td>

<td>
  {{owner.idType}}
</td>

<td>
  {{owner.source}}
</td>

<td>
  {{moment-calendar owner.modifiedTime sameElse="MMM Do YYYY, h:mm a"}}
</td>


<td>
  {{ember-selector
    class=(unless isOwnerMutable "nacho-select--hidden-state")
    values=ownerTypes
    selected=owner.type
    disabled=(not isOwnerMutable)
    change=(action "updateOwnerType")
  }}
</td>

<td>
  {{#if isOwnerMutable}}

    <button
      class="nacho-button nacho-button--small"
      {{action "removeOwner"}}>
      <i class="fa fa-trash"
         aria-label="Remove Owner"></i>
    </button>

  {{else}}

    {{#if isConfirmedSuggestedOwner}}

      <button
        class="nacho-button nacho-button--small dataset-author-record__action--disabled">
        Added
      </button>

    {{else}}

      <button
        class="nacho-button nacho-button--small"
        {{action "confirmOwner"}}>
        <i class="fa fa-plus" title="Add an Owner"></i>
      </button>

    {{/if}}

  {{/if}}
</td>

