<div class="ember-modal-wrapper ember-modal-dialog-target-attachment-center emd-wrapper-target-attachment-center emd-static">
  <div class="ember-modal-overlay notification-confirm-modal-overlay">
    <div class="ember-modal-dialog ember-modal-dialog notification-confirm-modal ember-modal-dialog-target-attachment-center emd-target-attachment-center ember-view">
      <header class="acl-spinner__header">
        <h2 class="notification-confirm-modal__heading-text">
          {{header}}
        </h2>
        <i class="fa fa-times fa-lg" {{action "close" on="click"}}></i>
      </header>

      <section class="acl-spinner__content">
        {{pendulum-ellipsis-animation}}
        <p class="acl-spinner__item">{{content}}</p>
      </section>

     <footer class="notification-confirm-modal__footer acl-spinner__footer"></footer>
    </div>
  </div>
</div>

{{yield}}