<section class="ownership-actions">
  <button class="nacho-button nacho-button--large-inverse"
          title={{if requiredMinNotConfirmed
                     "Need at least two confirmed owners to make changes" "Save Changes"}}
          disabled={{requiredMinNotConfirmed}}
    {{action "updateOwners" owners}}>
    Save Changes
  </button>

  <button class="nacho-button nacho-button--large"
    {{action "addOwner" owners}}>
    <i class="fa fa-plus" title="Add an Owner">
    </i>
    Add an Owner
  </button>
</section>

    {{#if showMsg}}
      <div class="alert {{alertType}}" role="alert">{{ownerMessage}}</div>
    {{/if}}

<table class="nacho-table nacho-table--bordered">
  <thead>
  <tr>
    <th>User Name</th>
    <th>Full Name</th>
    <th>ID Type</th>
    <th>Source</th>
    <th>Owner Type</th>
    <th>Owner Sub Type</th>
    <th>Confirmed</th>
    <th>Remove</th>
  </tr>
  </thead>
  <tbody data-attribute="owner-table">
  {{#each owners as |owner|}}
    <tr class="dataset-author-row">
      <td class="dataset-author-cell"
          onclick={{action "willEditUserName" value="currentTarget.classList"}}>
        <label class="dataset-author-cell__name-tag">
          {{owner.userName}}
        </label>
        <input class="userEntity dataset-author-cell__user-name"
               type="text"
               placeholder="Enter Username"
               autofocus="autofocus"
               title="{{owner.userName}}"
               value="{{owner.userName}}"
               onblur={{action "editUserName" owner}}/>
      </td>
      <td>{{owner.name}}</td>
      <td>{{owner.idType}}</td>
      <td>{{owner.source}}</td>
      <td>
        {{ember-selector values=ownerTypes selected=owner.type}}
      </td>
      <td>
        {{input class="dataset-author-cell__input"
                value=owner.subType}}
      </td>
      <td>
        {{input type="checkbox"
                title=(if owner.confirmedBy owner.confirmedBy "Not confirmed")
                checked=(readonly owner.confirmedBy)
                change=(action "confirmOwner" owner)}}
      </td>
      <td>

        <button class="nacho-button nacho-button--small"
                title={{if (contains (w "SCM") (w owner.source))
                           "Remove from source" "Remove"}}
                  disabled={{contains (w "SCM") (w owner.source)}}
          {{action "removeOwner" owners owner}}>
          <i class="fa fa-trash"
             aria-label="Remove Owner"></i>
        </button>
      </td>
    </tr>
  {{/each}}
  </tbody>
</table>