<form {{action "userDidSubmit" on="submit"}}>
  <label for="login-username" class="sr-only">Login</label>
  {{input
    value=username
    class="nacho-login-form__input"
    placeholder="Username"
    id="login-username"}}

  <label for="login-password" class="sr-only">Password</label>
  {{input
    value=password
    class="nacho-login-form__input"
    placeholder="Password"
    id="login-password"
    type="password"}}

  <p id="login-error" class="nacho-login__login-error">{{if errorMessage errorMessage}}</p>

  <button type="submit" class="nacho-button--large nacho-login-form__button nacho-button--secondary">
    Login
  </button>
</form>
{{yield}}