{{#if service.isShowingModal}}
  {{#confirm-dialog
    header=service.modal.props.header
    dismissButtonText=service.modal.props.dismissButtonText
    confirmButtonText=service.modal.props.confirmButtonText
    onConfirm=(action 'confirmModal' target=service)
    onClose=(action 'dismissModal' target=service)}}

    {{#if service.modal.props.isHtml}}
      {{{service.modal.props.content}}}
    {{else}}
      {{service.modal.props.content}}
    {{/if}}

  {{/confirm-dialog}}
{{/if}}


{{#if service.isShowingToast}}
  <div class="notification-toast">
    <i class="notification-toast__icon"></i>

    <div class="notification-toast__content notification-toast__content--{{service.toast.props.type}}">
      <p>{{service.toast.props.content}}</p>
    </div>

    <button class="notification-toast__dismiss" onclick={{action "dismissToast" target=service}}>
      <span class="sr-only">{{service.toast.props.dismissButtonText}}</span>
      &times;
    </button>

  </div>
{{/if}}

{{yield}}
