<section class="metadata-prompt">
  <header class="metadata-prompt__header">
    <p>
      Compliance Purge Policy
    </p>
  </header>
</section>

<ul class="purge-policy-list">
  {{#if isEditable}}

    {{#if getPlatformPolicies.isRunning}}
      {{pendulum-ellipsis-animation}}
    {{/if}}

    {{#if getPlatformPolicies.last.isError}}
    {{!--todo: swap out with error-state component--}}
      {{empty-state
        heading="Purge Policies not available"
        subHead="Could not find supported purge policies for this platform"
      }}

      <div class="purge-policy-list__retry-platforms">
        <button
          class="nacho-button nacho-button--large-inverse"
          onclick={{perform getPlatformPolicies}}>
          Retry
        </button>
      </div>

    {{/if}}

    {{#if getPlatformPolicies.last.isSuccessful}}

      {{#each-in purgePolicyProps as |purgeType prop|}}
        <li
          class="purge-policy-list__item {{unless (contains purgeType supportedPurgePolicies)
                                                  'purge-policy-list__item--disabled'}}">

          {{#radio-button-composer
            name="dataset-purge-policy"
            value=(if (contains purgeType supportedPurgePolicies) purgeType null)
            disabled=(if (contains purgeType supportedPurgePolicies) false true)
            groupValue=(readonly purgePolicy)
            changed=(action "onChange")
          }}
            {{prop.displayAs}}
          {{/radio-button-composer}}

          {{#unless (contains purgeType supportedPurgePolicies)}}
            <p class="purge-policy-list__availability">
              Purge policy not available for <span class="purge-policy-list__platform--unavailable">
              {{platform}}</span>
            </p>
          {{/unless}}

          <p>{{prop.desc}}</p>

          {{#if (and requestExemptionReason (eq purgeType exemptPolicy))}}

            {{medium-content-editable
              value=purgeNote
              options=editorOptions
              class="comment-new__content"}}

          {{/if}}
        </li>
      {{/each-in}}

    {{/if}}

  {{else}}

    {{#if purgePolicy}}
      <li class="purge-policy-list__item">
        <strong>
          {{get (get purgePolicyProps purgePolicy) "displayAs"}}
        </strong>
      </li>
    {{else}}

      <p>{{missingPolicyText}}</p>
      <sub>To update, click edit and follow the steps</sub>

    {{/if}}
  {{/if}}
</ul>
