<ul class="purge-policy-list">
  {{#if isEditable}}

    {{#each-in purgePolicyProps as |purgeType prop|}}
      <li
        class="purge-policy-list__item {{if (not (contains purgeType supportedPurgePolicies))
                                                'purge-policy-list__item--disabled'}}">

        {{#radio-button-composer
          name="dataset-purge-policy"
          value=(if (contains purgeType supportedPurgePolicies) purgeType null)
          disabled=(if (contains purgeType supportedPurgePolicies) false true)
          groupValue=(readonly (or purgePolicy defaultPurgePolicy))
          changed=(action "onChange")
        }}
          {{prop.displayAs}}
        {{/radio-button-composer}}

        {{#if (not (contains purgeType supportedPurgePolicies))}}
          <p class="purge-policy-list__availability">
            Purge policy not available for
            <span class="purge-policy-list__platform--unavailable">
              {{platform}}
            </span>
          </p>
        {{/if}}

        <p>{{prop.desc}}</p>

        {{#if (and requestExemptionReason (eq purgeType exemptPolicy))}}

          {{medium-content-editable
            value=purgeNote
            options=editorOptions
            class="comment-new__content"}}

        {{/if}}
      </li>
    {{/each-in}}

  {{else}}

    <li class="purge-policy-list__item">
      {{#if purgePolicy}}
        <strong>
          {{get (get purgePolicyProps purgePolicy) "displayAs"}}
        </strong>
      {{else}}

        {{missingPolicyText}}

      {{/if}}
    </li>
  {{/if}}
</ul>
