<a {{action "click" preventDefault=false}} target={{target}} href={{link}}>
  <sup>
    {{#if tooltip}}
      <i class="nacho-tooltip" data-title={{tooltip}}>
        <FaIcon
          @prefix="far"
          @icon="question-circle"
          class="{{this.baseClass}}__icon"
        />
      </i>
    {{else}}
      <FaIcon
        @prefix="far"
        @icon="question-circle"
        class="{{this.baseClass}}__icon"
      />
    {{/if}}
  </sup>
</a>
