<a {{action "click" preventDefault=false}} target={{target}} href={{link}}>
  <sup>
    {{#if tooltip}}
      <i data-title={{tooltip}} class="nacho-tooltip">
        <span class="glyphicon glyphicon-question-sign"></span>
      </i>
    {{else}}
      <span class="glyphicon glyphicon-question-sign"></span>
    {{/if}}

  </sup>
</a>
