{{#if @linkParams}}
  <DynamicLink
    class={{this.baseClass}}
    @params={{@linkParams}}
    onmouseenter={{action this.hideTooltipIfUntruncated}}
  >
    {{@text}}
    {{#if this.showTooltip}}
      <EmberTooltip
        @text={{@text}}
        @tooltipClass="truncated-text-with-tooltip__tooltip"
      />
    {{/if}}
  </DynamicLink>
{{else}}
  <span
    class={{this.baseClass}}
    onmouseenter={{action this.hideTooltipIfUntruncated}}
    role="tooltip"
  >
    {{@text}}
    {{#if this.showTooltip}}
      <EmberTooltip
        @text={{@text}}
        @tooltipClass="truncated-text-with-tooltip__tooltip"
      />
    {{/if}}
  </span>
{{/if}}

{{yield}}
