{{notifications/banner-alerts}}

{{#if session.isAuthenticated}}
  {{#hotkeys/global-hotkeys}}
    {{partial "navbar"}}
    {{!-- banner-alert-offset pushes the app view down to show the banner at the top above the navbar --}}
    <div class="app-container {{if banners.isShowingBanners "banner-alert-offset"}}">
      {{#hero-container}}
        <header class="nacho-hero__header">
          Search for datasets
        </header>
        <section class="nacho-hero__content">
          {{search-bar-form selection=model.keyword didSearch=(action "didSearch")}}
        </section>
      {{/hero-container}}

      <section class="container-fluid">
        {{partial "main"}}
      </section>
    </div>

    {{notifications-service service=notifications}}
  {{/hotkeys/global-hotkeys}}
{{else}}
  {{outlet "login"}}
{{/if}}
