{{#if session.isAuthenticated}}
  {{partial "navbar"}}

  {{#hero-container}}
    <header class="nacho-hero__header">
      Search for datasets, metrics and flows
    </header>
    <section class="nacho-hero__content">
      {{search-bar-form didSearch=(action "didSearch")}}
    </section>
  {{/hero-container}}

  <section class="container-fluid">
    {{partial "main"}}
  </section>

  {{notifications-service service=notifications}}
{{else}}
  {{outlet "login"}}
{{/if}}
