<div class="row">
  {{#unless detailview}}
    <div class="search-pagination">
      <ul class="pager">
        {{#unless first}}
          <li class="previous">
            {{#if urn}}
              {{#link-to 'datasets.name.subpage' currentName previousPage
                         (query-params urn=urn)}}
                &larr; Prev
              {{/link-to}}
            {{else}}
              {{#link-to 'datasets.page' previousPage}}
                &larr; Prev
              {{/link-to}}
            {{/if}}
          </li>
        {{/unless}}
        <li>
          {{ model.data.count }} datasets - page {{ model.data.page }}
          of {{ model.data.totalPages }}
        </li>
        {{#unless last}}
          <li class="next">
            {{#if urn}}
              {{#link-to 'datasets.name.subpage' currentName nextPage
                         (query-params urn=urn)}}
                Next &rarr;
              {{/link-to}}
            {{else}}
              {{#link-to 'datasets.page' nextPage}}
                Next &rarr;
              {{/link-to}}
            {{/if}}
          </li>
        {{/unless}}
      </ul>
    </div>
  {{/unless}}
  {{outlet}}
</div>
