{{#if isEditing}}
  <form {{action "publishComment" on="submit"}}>
    {{medium-content-editable
      value=comment.text
      options=editorOptions
      class="comment-new__content"
      editable=isEditing
      onFinishedTyping=(action "commentTextUpdated")}}

    {{ember-selector
      values=commentTypes
      selected=(unbound commentType)
      selectionDidChange="changeCommentType"
    }}

    <div class="comment-new__actions">
      <button type="submit" class="nacho-button--large nacho-button--secondary">
        <i class="fa fa-plus" title="Publish this comment"></i>
        Publish Comment
      </button>
    </div>
  </form>

{{else}}

  {{yield}}

{{/if}}
