<div class="container">
  <div id="dataset">
    {{datasets/urn-breadcrumbs urn=model.uri}}

    <div class="row">
      {{#if model.removed}}
        <span class="removed-dataset">
            REMOVED
          </span>

        <sup>
              <span
                class="glyphicon glyphicon-question-sign"
                title="This dataset has been removed">
                {{tooltip-on-element
                  event="hover"
                  text="This dataset has been removed"
                }}
              </span>
        </sup>
      {{/if}}

      {{#if model.deprecated}}
        {{#link-to "datasets.dataset.properties" encodedUrn}}

          <span class="deprecated-dataset">
              DEPRECATED
            </span>
          <sup>
              <span
                class="glyphicon glyphicon-question-sign"
                title="Click to view dataset properties">
                {{tooltip-on-element
                  event="hover"
                  text="Click to view dataset properties"
                }}
              </span>
          </sup>

        {{/link-to}}
      {{/if}}

      <h3 class="dataset-name">
        <div class="container">
          {{model.nativeName}}
        </div>
      </h3>
    </div>

    {{dataset-owner-list owners=owners datasetName=model.nativeName}}
  </div>

  {{#ivy-tabs selection=tabSelected as |tabs|}}

    {{#tabs.tablist as |tablist|}}

      {{#unless isPinot}}
        {{#tablist.tab tabIds.Properties on-select=(action "tabSelectionChanged")}}
          Properties
        {{/tablist.tab}}
      {{/unless}}

      {{!--feature not available--}}
      <span style="display:none">
        {{#tablist.tab tabIds.Access on-select=(action "tabSelectionChanged")}}ACL Access{{/tablist.tab}}
      </span>

      {{#tablist.tab tabIds.Schema on-select=(action "tabSelectionChanged")}}Schema{{/tablist.tab}}

      {{#tablist.tab tabIds.Ownership on-select=(action "tabSelectionChanged")}}
        Ownership

        {{#if requiredMinNotConfirmed}}
          <span class="notification-dot notification-dot--on-tab" aria-hidden="true"></span>
        {{/if}}
      {{/tablist.tab}}

      {{#if isInternal}}
        {{#tablist.tab tabIds.Compliance on-select=(action "tabSelectionChanged")}}
          Compliance

          {{#if requiresUserAction}}
            <span class="notification-dot notification-dot--on-tab" aria-hidden="true"></span>
          {{/if}}
        {{/tablist.tab}}
      {{/if}}

    {{/tabs.tablist}}

    {{#tabs.tabpanel tabIds.Properties}}
      {{datasets/containers/dataset-properties
        urn=encodedUrn
        deprecated=model.deprecated
        deprecationNote=model.deprecationNote
      }}
    {{/tabs.tabpanel}}

    {{#tabs.tabpanel tabIds.Comments}}
      {{dataset-comments
        comments=datasetComments
        updateDatasetComment=(action "updateDatasetComment")
        deleteDatasetComment=(action "destroyDatasetComment")
        addDatasetComment=(action "createDatasetComment")
      }}
    {{/tabs.tabpanel}}

    {{#tabs.tabpanel tabIds.Schema}}
      {{datasets/containers/dataset-schema urn=encodedUrn}}
    {{/tabs.tabpanel}}

    {{#tabs.tabpanel tabIds.Ownership}}
      {{datasets/containers/dataset-ownership urn=encodedUrn}}
    {{/tabs.tabpanel}}

    {{#tabs.tabpanel tabIds.Compliance}}
      {{datasets/containers/dataset-compliance
        urn=encodedUrn
        platform=model.platform
        datasetName=model.nativeName
        setOnChangeSetChange=(action 'setOnChangeSetChange')
        setOnChangeSetDrift=(action 'setOnChangeSetDrift')
        setOnComplianceType=(action 'setOnComplianceTypeChange')
      }}
    {{/tabs.tabpanel}}

    {{#tabs.tabpanel tabIds.Access}}
      {{dataset-aclaccess
        accessInfo=aclAccessResponse
        currentUser=currentUserInfo
      }}
    {{/tabs.tabpanel}}

  {{/ivy-tabs}}
</div>
