<div class="container">
  <div id="dataset">
    {{datasets/urn-breadcrumbs urn=model.uri}}

    <div class="row">
      <div class="container">
      {{#if model.removed}}
        <span class="removed-dataset">REMOVED</span>

        <sup>
              <span
                class="glyphicon glyphicon-question-sign"
                title="This dataset has been removed">
                {{tooltip-on-element
                  event="hover"
                  text="This dataset has been removed"
                }}
              </span>
        </sup>
      {{/if}}

      {{#if datasetContainsPersonalData}}
        <span class="pii-dataset">PII</span>

        <sup>
              <span
                class="glyphicon glyphicon-question-sign"
                title="This dataset contains personally identifiable information">
                {{tooltip-on-element
                  event="hover"
                  text="This dataset contains personally identifiable information"
                }}
              </span>
        </sup>
      {{/if}}

      {{#if model.deprecated}}
        {{#link-to "datasets.dataset.properties" encodedUrn}}

          <span class="deprecated-dataset">DEPRECATED</span>
          <sup>
              <span
                class="glyphicon glyphicon-question-sign"
                title="Click to view dataset properties">
                {{tooltip-on-element
                  event="hover"
                  text="Click to view dataset properties"
                }}
              </span>
          </sup>

        {{/link-to}}
      {{/if}}
        <h3 class="dataset-name">
          {{model.nativeName}}
        </h3>
      </div>
    </div>

    {{datasets/containers/dataset-owner-list urn=encodedUrn}}
  </div>

  {{#ivy-tabs selection=tabSelected as |tabs|}}

    {{#tabs.tablist as |tablist|}}

      {{#unless isPinot}}
        {{#tablist.tab tabIds.Properties on-select=(action "tabSelectionChanged")}}
          Properties
        {{/tablist.tab}}
      {{/unless}}

      {{#if isJitAclAccessEnabled}}
        {{#tablist.tab tabIds.Access on-select=(action "tabSelectionChanged")}}ACL Access{{/tablist.tab}}
      {{/if}}

      {{#tablist.tab tabIds.Schema on-select=(action "tabSelectionChanged")}}Schema{{/tablist.tab}}

      {{#tablist.tab tabIds.Ownership on-select=(action "tabSelectionChanged")}}
        Ownership

        {{#if requiredMinNotConfirmed}}
          <span class="notification-dot notification-dot--on-tab" aria-hidden="true"></span>
        {{/if}}
      {{/tablist.tab}}

      {{#if isInternal}}
        {{#tablist.tab tabIds.Compliance on-select=(action "tabSelectionChanged")}}
          Compliance

          {{#if requiresUserAction}}
            <span class="notification-dot notification-dot--on-tab" aria-hidden="true"></span>
          {{/if}}
        {{/tablist.tab}}
      {{/if}}

    {{/tabs.tablist}}

    {{#tabs.tabpanel tabIds.Properties}}
      {{datasets/containers/dataset-properties
        urn=encodedUrn
        deprecated=model.deprecated
        deprecationNote=model.deprecationNote
      }}
    {{/tabs.tabpanel}}

    {{#tabs.tabpanel tabIds.Comments}}
    {{/tabs.tabpanel}}

    {{#tabs.tabpanel tabIds.Schema}}
      {{datasets/containers/dataset-schema urn=encodedUrn}}
    {{/tabs.tabpanel}}

    {{#tabs.tabpanel tabIds.Ownership}}
      {{datasets/containers/dataset-ownership urn=encodedUrn showOwnership=showOwnership}}
    {{/tabs.tabpanel}}

    {{#tabs.tabpanel tabIds.Compliance}}
      {{datasets/containers/dataset-compliance
        urn=encodedUrn
        platform=model.platform
        datasetName=model.nativeName
        notifyPiiStatus=(action "onNotifyPiiStatus")
        setOnChangeSetChange=(action "setOnChangeSetChange")
        setOnChangeSetDrift=(action "setOnChangeSetDrift")
        setOnComplianceType=(action "setOnComplianceTypeChange")
      }}
    {{/tabs.tabpanel}}

    {{#if isJitAclAccessEnabled}}
      {{#tabs.tabpanel tabIds.Access}}
        {{datasets/containers/dataset-acl-access urn=encodedUrn}}
      {{/tabs.tabpanel}}
    {{/if}}

  {{/ivy-tabs}}
</div>
