<div class="container">
  <div id="dataset">
    <ul class="nacho-breadcrumbs">
      {{#each breadcrumbs as |crumb|}}
        <li class="nacho-breadcrumbs__crumb">
          {{link-to crumb.crumb "browse.entity" "datasets" (query-params page=1 urn=crumb.urn)
                    class="nacho-breadcrumbs__crumb__grain"}}
        </li>
      {{/each}}
    </ul>

    <div class="row">
      <div class="col-xs-5">
        {{#if datasetView.removed}}
          <span class="removed-dataset">
            REMOVED
          </span>

          <sup>
              <span
                class="glyphicon glyphicon-question-sign"
                title="This dataset has been removed">
                {{tooltip-on-element
                  event="hover"
                  text="This dataset has been removed"
                }}
              </span>
          </sup>
        {{/if}}

        {{#if datasetView.deprecated}}
          {{#link-to "datasets.dataset.properties" datasetId}}

            <span class="deprecated-dataset">
              DEPRECATED
            </span>
            <sup>
              <span
                class="glyphicon glyphicon-question-sign"
                title="Click to view dataset properties">
                {{tooltip-on-element
                  event="hover"
                  text="Click to view dataset properties"
                }}
              </span>
            </sup>

          {{/link-to}}
        {{/if}}

        <h3>{{ model.name }}</h3>
      </div>
      <div class="col-xs-7 text-right">
        <ul class="datasetDetailsLinks">
          <li>
            {{#dataset-favorite dataset=model action="didFavorite"}}
            {{/dataset-favorite}}
            <span class="hidden-sm hidden-xs">
              {{#if model.isFavorite}}
                Unfavorite
              {{else}}
                Favorite
              {{/if}}
            </span>
          </li>
          {{#if model.hdfsBrowserLink}}
            <li>
              <a target="_blank" href={{model.hdfsBrowserLink}}
                title="View on HDFS">
              <i class="fa fa-database"></i>
              <span class="hidden-sm hidden-xs">
                    HDFS
                  </span>
              </a>
            </li>
          {{/if}}
          <li>
            {{#link-to 'lineage.dataset' model.id title='View Lineage'}}
              <i class="fa fa-sitemap"></i>
              <span class="hidden-sm hidden-xs">Lineage</span>
            {{/link-to}}
          </li>
          {{#if model.hasSchemaHistory}}
            <li>
              <a target="_blank" href={{schemaHistoryUrl}}
                title="View Schema History">
              <i class="fa fa-history"></i>
              <span class="hidden-sm hidden-xs">
                      Schema History
                    </span>
              </a>
            </li>
          {{/if}}
          <li>
            {{#dataset-watch dataset=model getDatasets="getDataset"}}
            {{/dataset-watch}}
            <span class="hidden-xs hidden-sm">
              {{#if model.isWatched}}
                Unwatch
              {{else}}
                Watch
              {{/if}}
            </span>
          </li>
        </ul>
      </div>
    </div>
    {{dataset-owner-list owners=owners datasetName=model.name}}

    {{#if hasinstances}}
      <div class="row">
        <span class="col-xs-1">Instances:</span>
        <div class="btn-toolbar col-xs-11" role="toolbar">
          {{#each instances as |instance index|}}
            <div class="btn-group" role="group">
              {{#if index}}
                <button type="button" data-value="{{ instance.dbCode }}" class="btn btn-default instance-btn" {{action
                  "updateInstance" instance}}>
                  {{ instance.dbCode }}
                </button>
              {{else}}
                <button type="button" data-value="{{ instance.dbCode }}" class="btn btn-primary instance-btn" {{action
                  "updateInstance" instance}}>
                  {{ instance.dbCode }}
                </button>
              {{/if}}
            </div>
          {{/each}}
        </div>
      </div>
    {{/if}}

    {{#if hasversions}}
      <div class="row">
        <span class="col-xs-1">Versions:</span>
        <div class="btn-toolbar col-xs-11" role="toolbar">
          {{#each versions as |version index|}}
            <div class="btn-group" role="group">
              {{#if index}}
                <button type="button" data-value="{{ version }}" class="btn btn-default version-btn" {{action
                  "updateVersion" version}}>
                  {{ version }}
                </button>
              {{else}}
                <button type="button" data-value="{{ version }}" class="btn btn-primary version-btn" {{action
                  "updateVersion" version}}>
                  {{ version }}
                </button>
              {{/if}}
            </div>
          {{/each}}
        </div>
      </div>
    {{/if}}
  </div>

  {{#ivy-tabs selection=tabSelected as |tabs|}}

    {{#tabs.tablist as |tablist|}}

      {{#unless isPinot}}
        {{#tablist.tab tabIds.Properties on-select=(action "tabSelectionChanged")}}
          Properties
        {{/tablist.tab}}
      {{/unless}}

      {{!--feature not available--}}
      <span style="display:none">
        {{#tablist.tab tabIds.Access on-select=(action "tabSelectionChanged")}}ACL Access{{/tablist.tab}}
      </span>

      {{#tablist.tab tabIds.Comments on-select=(action "tabSelectionChanged")}}Comments{{/tablist.tab}}

      {{#tablist.tab tabIds.Schema on-select=(action "tabSelectionChanged")}}Schema{{/tablist.tab}}

      {{#tablist.tab tabIds.Ownership on-select=(action "tabSelectionChanged")}}
        Ownership

        {{#if requiredMinNotConfirmed}}
          <span class="notification-dot notification-dot--on-tab" aria-hidden="true"></span>
        {{/if}}
      {{/tablist.tab}}

      {{#if isInternal}}
        {{#tablist.tab tabIds.Compliance on-select=(action "tabSelectionChanged")}}
          Compliance

          {{#if isNewComplianceInfo}}
            <span class="notification-dot notification-dot--on-tab" aria-hidden="true"></span>
          {{/if}}
        {{/tablist.tab}}
      {{/if}}

      {{#unless isSFDC}}
        {{#tablist.tab tabIds.SampleData on-select=(action "tabSelectionChanged")}}
          Sample Data{{/tablist.tab}}
      {{/unless}}

      {{#tablist.tab tabIds.Relations on-select=(action "tabSelectionChanged")}}
        Relations{{/tablist.tab}}

    {{/tabs.tablist}}

    {{#tabs.tabpanel tabIds.Properties}}
      {{#unless isPinot}}
        {{dataset-deprecation
          deprecated=datasetView.deprecated
          deprecationNote=datasetView.deprecationNote
          onUpdateDeprecation=(action "updateDeprecation")
        }}

        {{dataset-property properties=properties}}
      {{/unless}}
    {{/tabs.tabpanel}}

    {{#tabs.tabpanel tabIds.Comments}}
      {{dataset-comments
        comments=datasetComments
        updateDatasetComment=(action "updateDatasetComment")
        deleteDatasetComment=(action "destroyDatasetComment")
        addDatasetComment=(action "createDatasetComment")
      }}
    {{/tabs.tabpanel}}

    {{#tabs.tabpanel tabIds.Schema}}
      {{dataset-schema
        isTable=isTable
        json=model.schema
        schemas=schemas
      }}
    {{/tabs.tabpanel}}

    {{#tabs.tabpanel tabIds.Ownership}}
      {{dataset-authors
        owners=owners
        ownerTypes=ownerTypes
        save=(action "saveOwnerChanges")
      }}
    {{/tabs.tabpanel}}

    {{#tabs.tabpanel tabIds.SampleData}}
      {{#unless isSFDC}}
        {{dataset-sample hasSamples=hasSamples isPinot=isPinot columns=columns samples=samples}}
      {{/unless}}
    {{/tabs.tabpanel}}

    {{#tabs.tabpanel tabIds.Relations}}
      {{#unless isSFDC}}
        {{dataset-relations hasDepends=hasDepends depends=depends hasReferences=hasReferences references=references}}
      {{/unless}}
    {{/tabs.tabpanel}}

    {{#tabs.tabpanel tabIds.Compliance}}
      {{dataset-compliance
        datasetName=model.name
        schemaless=schemaless
        platform=datasetView.platform
        complianceInfo=complianceInfo
        complianceSuggestion=complianceSuggestion
        isNewComplianceInfo=isNewComplianceInfo
        schemaFieldNamesMappedToDataTypes=schemaFieldNamesMappedToDataTypes
        complianceDataTypes=complianceDataTypes
        onSave=(action "savePrivacyCompliancePolicy")
        onReset=(action "resetPrivacyCompliancePolicy")
      }}
    {{/tabs.tabpanel}}

    {{#tabs.tabpanel tabIds.Access}}
      {{dataset-aclaccess
        accessInfo=aclAccessResponse
        currentUser=currentUserInfo
      }}
    {{/tabs.tabpanel}}

  {{/ivy-tabs}}
</div>
