<div class="nacho-toggle__content">
  {{#let (eq @value @leftOptionValue) as |leftActive|}}

    <button
      type="button"
      class="nacho-toggle__button nacho-toggle__button--left {{if leftActive "nacho-toggle__button--active"}}"
      {{on "click" (fn this.onValueChange @leftOptionValue)}}
    >
      {{@leftOptionText}}
    </button>
    <button
      type="button"
      class="nacho-toggle__button nacho-toggle__button--right {{unless leftActive "nacho-toggle__button--active"}}"
      {{on "click" (fn this.onValueChange @rightOptionValue)}}
    >
      {{@rightOptionText}}
    </button>
    <div
      class="nacho-toggle__slider nacho-toggle__slider--{{if leftActive "left-active" "right-active"}}"
    >
    </div>

  {{/let}}
</div>
