<table class="test-sort-table">
  <thead>
    <tr>
      <th>
        Sort Me
        {{nacho-sort-button
          isSorting=isSorting
          sortDirection=sortDirection
          sortValue="pokemon"
          baseClass="test-sort-button"
          onChange=(action "onChangeSortProperty")
        }}
      </th>
      <th>Type</th>
      <th>Nature</th>
    </tr>
  </thead>

  <tbody>
    {{#each pokemons as |pokemon|}}
      <tr class="pokemon-detail-row {{pokemon.name}}-row">
        <td>{{pokemon.name}}</td>
        <td>{{pokemon.type}}</td>
        <td>{{pokemon.nature}}</td>
      </tr>
    {{/each}}
  </tbody>

</table>
